h1 {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	letter-spacing: 0.05em;
	@include poly-fluid-sizing('font-size', (480px: 22px, 768px: 24px, 1024px: 34px));
	line-height: 1.15em;
	margin-bottom: 0.5em;
}

p {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	color: #999;
	@include poly-fluid-sizing('font-size', (480px: 12px, 1024px: 16px));
	line-height: 2em;
	margin-bottom: 2em;
}

strong, b {
	font-weight: 700;
}

.text-right {
	text-align: right;
}